@import "utils.scss";

.header {
  @include flex--full-center;
  width: 100%;
  max-width: 124rem;
  margin-bottom: 1.6rem;
}

.main{
   @include flex-container(0);
   flex-direction: column; 
   width: 100%;
   max-width: 124rem;
}

.filter{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.6rem;
}
