// color
$tools: #ed6454;
$ingredients: #3282f7;
$devices: #68d9a4;

$light-background: #e7e7e7;
$dark-background: #c7bebe;

// mixin
@mixin flex--full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin filter-container($gap) {
  @include flex-container($gap);
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}

// utility classes
.hidden {
  display: none;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
